/* CSS Document */
@font-face{
  font-family: "SuisseIntl", sans-serif;
  src: url("https://www.ajax.nl/frontend/assets/fonts/suisseintl-black.woff2");
  font-style: normal;
  font-weight: 100;

}

@font-face {font-family: "Lexia Advertising"; src: url("//db.onlinewebfonts.com/t/e56953aada4b79ccdaa3ccf72adc59ac.eot"); src: url("//db.onlinewebfonts.com/t/e56953aada4b79ccdaa3ccf72adc59ac.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e56953aada4b79ccdaa3ccf72adc59ac.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e56953aada4b79ccdaa3ccf72adc59ac.woff") format("woff"), url("//db.onlinewebfonts.com/t/e56953aada4b79ccdaa3ccf72adc59ac.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e56953aada4b79ccdaa3ccf72adc59ac.svg#Lexia Advertising") format("svg"); }
*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.language {
  position: absolute;
  right: 10%;
}

nav.filter-bar ul {
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
}


nav.filter-bar ul li {
  transition: 0.3s;
  font-weight: bold;
  border-bottom: solid 2px transparent;
}

nav.filter-bar ul li:hover {
  border-bottom: solid 2px #c2002f;
  cursor: pointer;
}

button.social-share {
  border: none;
  background: none;
  cursor: pointer;
  text-align: right;
}

article > section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main section:last-child section{
  position: relative;
}


main section section:last-child a{
  position: relative;
}

.advertisement{
  margin-top: 1rem;
}


main section section a{
  bottom:10%;
  left:5%;
  position: absolute;
  margin-top: 0.5rem;
  color: white;
  background-color: #c2002f;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  height: 0.625rem;
  display: inline-flex;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  min-height: 2rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.43;
  
}

.category-link {
  font-family: "SuisseIntl", sans-serif;
  font-size: 0.625rem;
  color: white;
  background-color: #413e3e;
  padding: 0.4375rem 0.3125rem;
  padding-top: 0;
  padding-bottom: 0;
  margin: auto;
  margin-left: 0;
  text-align: left;
}




.main section:last-child section:last-child{
  display: block;
  position: relative;
  margin-top: 1rem;
  min-height: 23rem;
  background-color: #c2002f;
}

.main section:last-child section:last-child h2{
  display: absolute;
  top: 10%;
  left: 5%;
}

.main section:last-child section:last-child a{
  display: absolute;
  bottom: 10%;
  left:5%;
  background-color: white;
  color: black;
}



img {
  width: 100%;
}

body {
  position: relative;
  color: #181314;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SuisseIntl", sans-serif;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  padding-top: 2rem;
  padding: 0 1.5rem;
  margin: 0 auto;
  text-align: left;
  max-width: 90rem;
}

header {
  z-index: 50;
  display: block;
  position: sticky;
  top: 0;
  background-color: #c2002f;
  height: 10vh;
  margin-bottom: 2rem;
}

header nav{
  z-index: 85;
  border-top: solid 2px white;
  position: fixed;
  top:11%;
  width: 100%;
  background-color: #c2002f;
  border-bottom: solid 2px white;
}

header nav ul{
}



.gridHolder{
  padding-top: 1rem;
  width: 100%;
  background-color: #c2002f;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: -1;
  height: 100%;
  gap: 1rem;
}

section#grid-item-1{
  padding-left: 1.5rem;
}

section#grid-item-2, section#grid-item-4{
  text-align: right;
  padding-right: 1.5rem;
}

section#grid-item-3 ul{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  padding-left: 1.5rem;
}

section#grid-item-3 ul li a{
  padding: 0.6rem;
  margin-right: 1.5rem;
  border-radius: 2rem;
  transition: all 0.3s ease;
  font-size: 1rem;
  font-family: "SuisseIntl",sans-serif;
  font-weight: 600;
  line-height: 1.25;
  color: white;
  text-decoration-line: none;
  border: solid 1px white;
}

section#grid-item-3 ul li a:hover{
  color: black;
  background-color: white;
  text-decoration-line: none;
}


section#grid-item-4 button{
  background-color: transparent;
  border:none;
}
.mobile-menu{
  height: 90vh;
  transition:0.6s;
  position: fixed;
  transform: translateY(-180%);
  z-index: -10;
  font-family: "SuisseIntl", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 2rem;
  color: white;
}

.mobile-menu section.grid-item-1{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.mobile-menu section.grid-item-2{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: flex-end;
}

.mobile-menu section.grid-item-2 button{
  padding-right: 1.5rem;
  text-align: right;
  display: block;
  background-color: transparent;
  border:none;
}

.mobile-menu section.grid-item-1 ul{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  list-style: none;
  padding-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  line-height: 1.25;
}

.mobile-menu section.grid-item-1 ul li:first-of-type{
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
}

.mobile-menu section.grid-item-1 ul:last-of-type{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.mobile-menu section.grid-item-1 ul:last-of-type a svg path{
  transition: 0.3s;
  fill: white;
}

.mobile-menu section.grid-item-1 ul:last-of-type a svg path:hover{
  fill: #181314;
}

#grid-item-1{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}
main article {
  padding-top: 1rem;
  margin-bottom: 1rem;
}

main article > img {
  position: relative;
  /* min-height: 25.375rem; */
}

main section > article {
  position: relative;
}

main section:first-of-type img {
  filter: grayscale(40%);
}
main section:first-of-type h2:nth-of-type(1),
h1:nth-of-type(1) {
  text-shadow: 8px 8px 20px black;
  font-family: "Lexia Advertising";
  font-size: 2rem;
  width: 50%;
  color: white;
  position: absolute;
  top: 18%;
  left: 5%;
}

main section:first-of-type article:last-child span {
  text-shadow: 4px 4px 10px black;
  color: white;
  display: block;
  position: absolute;
  bottom: 45%;
  left: 5%;
}

main section > article {
  padding-bottom: 1rem;
  border-bottom: solid 2px #c2002f;
}

main section:first-child article {
  border-bottom: solid 2px transparent;
}

main section article h2 {
  font-size: 1.75rem;
  font-weight: 800;
  line-height: 0.93;
}

main section article a {
  transition: 0.3s;
  bottom: 10%;
  left: 5%;
  margin-top: 0.5rem;
  color: black;
  background-color: white;
  border: none;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  height: 0.625rem;
  display: inline-flex;
  min-height: 2rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.43;
  padding-bottom: 1rem;
}

main section article p {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.33;
  margin: 1rem 0 0.125rem 0;
  word-break: break-word;
  flex: 0 0 auto;
}

main section:first-of-type article a {
  transition: 0.3s;
  position: absolute;
  bottom: 10%;
  left: 5%;
  margin-top: 0.5rem;
  color: black;
  background-color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  height: 0.625rem;
  display: inline-flex;
  min-height: 2rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.43;
  padding: 0 1em 0 1em;
}

main section article a:hover {
  opacity: 0.8;
}


footer {
  padding-top: 2rem;
  padding: 0 1.5rem;
  margin: 0 auto;
  text-align: left;
  max-width: 90rem;
  margin-top: 2rem;
}

footer section{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer img {
  width: 90%;
}

footer nav ul li:first-child {
  font-weight: bold;
}

footer nav ul {
  padding: 0;
  list-style-type: none;
}

footer nav ul li a {
  color: black;
  text-decoration-line: none;
}

footer nav ul li a:hover {
  color: gray;
  text-decoration-line: none;
}
footer nav {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:1rem;
  padding-bottom: 1rem;
}

footer section h3 {
  font-size: 1rem;
}

footer section p {
  padding: 0;
  margin: 0;
  margin-top: 0;
}

footer section button {
  margin-top: 0.5rem;
  color: white;
  background-color: #c2002f;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  height: 0.625rem;
  display: inline-flex;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  min-height: 2rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.43;
}

footer section a svg {
  padding: 0.5rem;
}

footer span {
  font-size: 0.5rem;
  color: gray;
}

footer section:last-of-type section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.show{
  transform: translateY(0.5%);
}
